/* Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Exa:wght@100..900&family=Lexend:wght@100..900&family=Macondo&family=Oswald:wght@200..700&family=Poiret+One&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Lexend", cursive;
    --primary-color: #1A3B5D;
    /* dark blue */
    --secondary-color: #7a9fc2;
    /* light blue */
    --highlight-color: #8A6FA5;
    /* purple */
    --highlight-color-light: #C8A3D9;
    /* light purple */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

/* Buttons */

.btn-primary {
    background-color: var(--highlight-color);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* Navigation */
.navbar-custom .nav-link {
    color: #1A3B5D;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}

/* Header */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('../images/hero.png') left center/cover no-repeat scroll;
    padding: 8rem 0;
}

.hero h1 {
    color: #fff;
}

.hero p {
    color: #fff;
}

/* Signs */

.signs {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/help.png') center top/cover no-repeat scroll;
    padding: 8rem 2rem;
}

.signs h2 {
    color: #fff;
}

/* Media Queries */

/* Mobile S/M */

@media (max-width: 425px) {
    #nav-title {
        display: none;
    }
}

/* Laptops and up */
@media (min-width: 992px) {
    .btn-primary:hover {
        background-color: var(--highlight-color-light);
    }
}