/* Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Exa:wght@100..900&family=Lexend:wght@100..900&family=Macondo&family=Oswald:wght@200..700&family=Poiret+One&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Lexend", cursive;
    --primary-color: #1A3B5D;
    /* dark blue */
    --highlight-color: #3A5E7E;
    /* blue */
    --highlight-color-light: #7a9fc2;
    /* light blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 66px;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p {
    color: var(--primary-color);
}

hr {
    margin: 5px 0;
    border-top: 1px solid #3a3a3a;
}

.text-highlight p,
.text-highlight h4,
.text-highlight a {
    color: var(--secondary-color);
}


/* Buttons */

.btn-primary {
    background-color: var(--highlight-color);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--highlight-color);
}

.btn-outline-custom {
    border: #7a9fc2 solid 1px;
}

/* Navigation */
#navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar a {
    color: var(--primary-color);
}

#navbar .nav-link {
    color: var(--primary-color);
}

#navbar .nav-link:hover {
    color: var(--highlight-color);
}

#navbar .active {
    text-decoration: underline;
}

/* Main Content */

.section {
    padding-top: 5rem;
}

/* Header */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url('../images/hero.png') left center/cover no-repeat scroll;
    padding: 8rem 0;
}

.hero h1 {
    color: #fff;
}

.hero p {
    color: #fff;
}

/* Principles section */

#principles h4 {
    color: var(--highlight-color);
}

#principles p {
    color: var(--primary-color);
}

.card {
    border: none;
}

/* Signs */

.signs-header {
    background: var(--primary-color);
    padding: 4rem 0;
}

.signs {
    background: url('../images/help.png') center top/cover no-repeat scroll;
    padding: 6rem 0;
}

.signs h2 {
    color: #fff;
}

.bg-signs {
    background: linear-gradient(rgb(255, 255, 255, 0.9), rgba(122, 159, 194, 0.9));
    padding: 1rem;
    border-radius: 0.25rem;
}

#signs li {
    color: var(--primary-color);
}

/* Action Steps Section */

#action {
    margin: 20px auto;
    width: 90%;
    padding-top: 5rem;

}

#action h2 {
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
}

#action h4 {
    color: var(--highlight-color);
}

#steps p {
    padding: 0 20px;
}

#action1>div,
#action2>div {
    line-height: 20px;
    margin: 20px 0;
}

#action-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Form */

#contact label {
    color: var(--primary-color);
}

/* Success Page */

.success-image {
    height: 50vh;
}

/* Media Queries */

/* Mobile S/M */

@media (max-width: 425px) {
    #nav-title {
        display: none;
    }
}

/* Tablets and up */
@media (min-width: 768px) {

    #action1,
    #action2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #action1>div,
    #action2>div {
        width: 75%;
    }

    #action2>div {
        text-align: end;
        align-self: flex-end;
    }
}

/* Laptops and up */
@media (min-width: 992px) {
    .btn-primary:hover {
        background-color: var(--highlight-color-light);
    }

    #steps {
        display: flex;
        flex-direction: row;
    }

    #steps>div {
        flex: 1;
    }

    #action-image {
        order: 0;
    }

    #action2 {
        order: 1;
    }

    #action2>div {
        align-self: flex-start;
    }

    #action1>div {
        align-self: flex-end;
    }
}
